<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Simulation on Observable/Reactor Flux</title>
	</head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.css">

	<style>
		[id^="bookId_"] {
			width:  5%;
		}
		[id^="bookIsbn_"] {
			width:  10%;
		}
		[id^="bookTitle_"] {
			width:  25%;
		}
		[id^="bookDate_"] {
			width:  15%;
		}
		[id^="bookAuthors_"] {
			width:  25%;
		}
		[id^="bookCategories_"] {
			width:  20%;
		}
	</style>

	<!-- https://cdnjs.com/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.2/rxjs.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.27.0/ramda.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/oboe.js/2.1.5/oboe-browser.js"></script>

	<!-- https://www.jsdelivr.com/ -->
	<!-- https://zellwk.com/blog/jsdelivr/ -->
<!--	<script src="https://cdn.jsdelivr.net/npm/sanctuary@3.0.0/index.js"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/sanctuary-either@2.1.0/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ramda-fantasy@0.8.0/dist/ramda-fantasy.js"></script>

	<!-- https://stackoverflow.com/questions/25687816/setting-up-a-javascript-variable-from-spring-model-by-using-thymeleaf -->
	<!-- https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		let restEndpoint = [[${restEndpoint}]]; // 'http://localhost:9080/books/streaming';
		console.log(restEndpoint);
		/*]]>*/
	</script>

	<script>
		const observable = rxjs.Observable.create(observer => {
			oboe(restEndpoint)
					.node('{body}', response => observer.next(response.body))
			;
		})
		, listOfBooks = []
		, mapOfSubscribers = new Map()
		, pageTitle = "Streaming Simulation on RxJS Observables/Oboe.js in the UI while Reactive Mongo/Reactor Flux from ReST"
		;

		const onSubscribe = (btnElemId) => {

			const unSubscribe = () => {
						listOfBooks.length = 0;
						$("#bookTable tbody tr").remove();
						mapOfSubscribers.get(btnElemId).unsubscribe();
					}
					, dataHandler = data => {
						let tr = `<tr>` +
								`<td id="bookId_${data.id}">${data.id}</td>` +
								`<td id="bookIsbn_${data.id}">${data.isbn}</td>` +
								`<td id="bookTitle_${data.id}">${data.title}</td>` +
								`<td id="bookDate_${data.id}">${data.publishedDate}</td>` +
								`<td id="bookAuthors_${data.id}">${data.authors.join(', ')}</td>` +
								`<td id="bookCategories_${data.id}">${data.categories.join(', ')}</td>` +
								`</tr>`;
						console.log(data);
						listOfBooks.push(data);
						$('#bookTable').append(`${tr}`);
					}
					, errorHandler = data => {
						unSubscribe();
						console.log(data);
					}
					, completeHandler = () => {
						unSubscribe();
						console.log(data);
					}
			;

			const prevSubscriber = mapOfSubscribers.get(btnElemId);
			if (! _.isEmpty(prevSubscriber)) {
				unSubscribe();
			}

			const subscriber = observable.subscribe(dataHandler, errorHandler, completeHandler);
			mapOfSubscribers.set(btnElemId, subscriber);
		};
	</script>

	<body style="margin: 10px; padding: 10px;">
		<div class="alert alert-success" role="alert">
			<span id="pageTitle" style="font-weight: bold; padding: 10px;" th:text="${pageTitle}"></span>
			<button id="btnBooks" type="button" class="btn btn-primary btn-sm" onclick="onSubscribe(this.id)">Get All Books</button>
		</div>

		<div class="alert" role="alert" id="bookContainer">
			<table id="bookTable" class="table table-hover table-striped table-condensed">
				<thead>
					<tr>
						<th id="bookId_Hdr">Book ID</th>
						<th id="bookIsbn_Hdr">ISBN</th>
						<th id="bookTitle_Hdr">Title</th>
						<th id="bookDate_Hdr">Published Date</th>
						<th id="bookAuthors_Hdr">Authors</th>
						<th id="bookCategories_Hdr">Categories</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</body>
</html>
